/* Estilos Comunes para Inputs y Textareas */
.input-field,
.textarea-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Ajuste específico para Textareas */
.textarea-field {
  resize: vertical;
  height: 200px;
  width: 100%;
}

/* Estilos Específicos para el Contenedor de Jobs */
.jobs-container-work-with-us {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titleJobs {
  
  font-size: 24px;
  margin-bottom: 20px;
}

.jobs-section-work-with-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs-section-work-with-us form {
  width: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  
}

.contact-form-work-with-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.jobs-container-work-with-us label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.input-group-email-work-with-us,
.input-group-name-work-with-us,
.input-group-surname-work-with-us,
.input-group-telephone-work-with-us,
.input-group-message-work-with-us  {

  width: 100%;

}

.input-group-message-work-with-us {
  width: 100%;
}

.input-group-email-work-with-us .half-width,
.input-group-name-work-with-us .half-width,
.input-group-surname-work-with-us .half-width,
.input-group-telephone-work-with-us .half-width {
  width: 100%;
}

.submit-button-wrapper-work-with-us {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-button-contact-work-with-us {
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;

}

.submit-button-contact-work-with-us:hover {
  background-color: darkgray;
  color: white;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.close-btn-work-with-us {
  cursor: pointer;
  font-weight: bold;
}
.error {
  border: 1px solid red;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .jobs-container-work-with-us {
    padding: 10px;
  }

  .titleJobs {
    font-size: 20px;
  }

  .submit-button-contact-work-with-us {
    font-size: 18px;
    padding: 8px 16px;
  }

  .alert {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .jobs-container-work-with-us {
    padding: 5px;
  }

  .titleJobs {
    font-size: 18px;
  }

  .input-field,
  .textarea-field {
    padding: 8px;
  }

  .submit-button-contact-work-with-us {
    font-size: 16px;
    padding: 6px 12px;
  }

  .alert {
    width: 100%;
    padding: 8px;
  }
}