/* Estilos Comunes para Inputs y Textareas */
.input-field,
.textarea-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Ajuste específico para Textareas */
.textarea-field {
  resize: vertical;
  height: 200px;
  width: 100%;
}

/* Estilos Específicos para el Contenedor de Jobs */
.jobs-container-about {
  text-align: center;
}

.titleJobs {
  margin: 0;
  font-size: 20px;
  white-space: nowrap;
  line-height: 1;
}

.jobs-section {
  width: 90%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.jobs-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.contact-form-work-with-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 80%;
}

/* .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 80%;
} */

.jobs-container-about label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.input-group-email-work-with-us,
.input-group-name-work-with-us,
.input-group-surname-work-with-us,
.input-group-telephone-work-with-us,
.input-group-message-work-with-us  {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.input-group-message {
  width: 100%;
}

.input-group-email-work-with-us .half-width,
.input-group-name-work-with-us .half-width,
.input-group-surname-work-with-us .half-width,
.input-group-telephone-work-with-us .half-width {
  width: 75%;
}

.submit-button-wrapper-work-with-us {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-button-contact-work-with-us {
  width: fit-content;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-weight: bold;
}
