.titleUsp {
margin: 50px;

}

.UspTitle{
font-family: Raleway;
font-size: 100px;
font-weight: 600;
line-height: 129.14px;
text-align: left;
;
   
}
.photoUsp1,
.photoUsp2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.photoUsp2 {
    margin-bottom: 100px;
}


.photo2 {
    width: 540px;
    width: 713px;
    height: 525px;
    top: 2141px;
    left: 800px;
    gap: 0px;
    opacity: 0px;
    
}

.photo1 {
    width: 707px;
    height: 525px;
    top: 1444px;
    left: 94px;
    gap: 0px;
    opacity: 0px;
}

.textPhoto1,
.textPhoto2 {
   margin: 80px;
}

.titleUsp1,
.titleUsp2 {
    /* margin-bottom: 20px; */
font-family: Inter;
font-size: 42px;
font-weight: 400;
line-height: 50.83px;
text-align: left;

}

.uspSection {
    margin: 0 100px 50px;
}

.textUsp1,
.textUsp2 {
font-family: Inter;
font-size: 20px;
font-weight: 300;
line-height: 26.6px;
text-align: left;
}
.layoutgray1 {
width: 714px;
height: 697px;
top: 1360px;
gap: 0px;
opacity: 0px;
background-color: lightgray;
}

.layoutgray2 {
width: 709px;
height: 697px;
top: 2057px;
left: 891px;
gap: 0px;
opacity: 0px;
background-color: lightgrey;
}

@media screen and (max-width: 1200px) {
    .uspSection {
        margin: 0 50px 50px;
    }

    .textPhoto1,
    .divPhoto2 {
        margin-left: 50px;
        margin-right: 50px;
    }
}


@media screen and (max-width: 940px) {
    .photoUsp1,
    .photoUsp2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .textPhoto1,
    .textPhoto2 {
        margin-top: 20px;
        margin-left: 0;
    }

    .textPhoto2 {
        order: 1;
    }
}

@media screen and (max-width: 600px) {
    .photo1,
    .photo2 {
        width: 440px;
        height: 260px;
    }
}