.benefitcontainer {
    background-color: #f0f0f0;
}

.textContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding-right: 7%;
    margin-bottom: 7%;
}

.titleBenefit {
    text-align: left;
    text-transform: uppercase;

    margin-bottom: 20px;
    margin-top: 40px;
}

.sectionBenefit{
    display: flex;
    justify-content:center;
   
}

.imageContainer {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    
}

.imgBenefit {
    width: 90%; 
    height: auto; 
    object-fit: cover; 
    padding-left: 45px;
}


@media screen and (max-width: 1200px) {
    .sectionBenefit {
        flex-direction: column;
        align-items: center; 
    }

    .textContainer {
        width: 100%;
        margin-left: 0;
        padding-right: 0; 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .titleBenefit {
        align-self: flex-start; 
        margin-left: 50px; 
    }

    .imgBenefit {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
        padding-left: 0; 
    }

    .textBenefit{
        margin-right: 80px;
        margin-left: 80px;
    }
}




