.achievements-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.achievements-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.icons_achievements {
  display: flex;
  justify-content: center; /* Centrar los iconos horizontalmente */
  align-items: center; /* Centrar los iconos verticalmente */
  gap: 20px; /* Espacio entre los iconos */
}

.icon_picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  max-width: 100%;
  height: auto;
}

.achievement1, .achievement2, .achievement3, .achievement4, .achievement5 {
  flex: 0 1 auto; /* Permitir que los elementos se reduzcan pero no crezcan */
  max-width: 100px; /* Ancho máximo de los iconos */
}

.text_achievement {
  margin-top: 10px;
}

.achievement_title {
  font-size: 18px;
}

/* Media Queries para ajustar el tamaño de los iconos en pantallas más pequeñas */

@media (max-width: 1200px) {
  .achievement1, .achievement2, .achievement3, .achievement4, .achievement5 {
    max-width: 80px; /* Reducir el tamaño máximo de los iconos */
  }
}

@media (max-width: 768px) {
  .achievement1, .achievement2, .achievement3, .achievement4, .achievement5 {
    max-width: 60px; /* Reducir el tamaño máximo de los iconos */
  }
}

@media (max-width: 480px) {
  .achievement1, .achievement2, .achievement3, .achievement4, .achievement5 {
    max-width: 50px; /* Reducir el tamaño máximo de los iconos */
  }
  
  .achievements-title {
    font-size: 24px;
  }

  .achievement_title {
    font-size: 16px;
  }
}
