.componenthistory {
    margin-top: -140px;
}
.caption-title {
    text-align: center;  
}

@media screen and (max-width: 768px) {
    .history1,
    .history2,
    .history3 {
        height: 600px;
        width:auto;
        object-fit: cover;
    }

    .caption-title {
        text-align: right;  
    }
}

@media screen and (min-width: 1600px) {
    .history1,
    .history2,
    .history3 {
        height: 100vh;
        width:auto;
        object-fit: cover;
    }

    .caption-title {
        text-align: right;  
    }
}
/* .componenthistory {
    margin-top: -340px;
    margin-bottom: -10px; 
    padding-top: 140px;
    width: 100%;
    object-fit: cover;
}

.history,
.history2,
.history3{
    background-size: cover;
    height: 600px; 
    display: flex;
    /* flex-direction: column; 
    justify-content: end;
    align-items:flex-start;
    color: white;
    width: 100%;
    height: 80%;
    position: relative;
}

/* .history img,
.history2 img,
.history3 img{ */

/* } 

.caption-title1{
    font-size: 150px;
    font-weight: 250;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top:-700px;
    /* transform: translateY(-50%); 
    margin-right: 10px;
}

.caption-title2{
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: -500px;
    margin-right: 5px;
    font-size: 150px;
    font-weight: 600;
    color: var(--orange);
    margin-bottom: 20px;
}

.caption-title3{
    font-size: 150px;
    font-weight: 250;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top:-900px;
    /* transform: translateY(-50%); 
    margin-left: 0px;
}

.caption-title4{
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: -600px;
    margin-left: 0px;
    font-size: 150px;
    font-weight: 600;
    color: var(--orange);
    margin-bottom: 20px;
} */