@media screen and (min-width: 1600px) {
    .history1,
    .history2,
    .history3 {
        height: 100vh;
        width:auto;
        object-fit: cover;
    }

    .caption-title {
        text-align: right;  
    }
}

.componenthistory {
    margin-top: -140px;
}
.caption-title {
    text-align: center;  
}
.history1,
.history2,
.history3 {
    height: auto;
    width: 100%; 
}

@media screen and (max-width: 768px) {
    .history1,
    .history2,
    .history3 {
        height: 600px;
        width:auto;
        object-fit: cover;
    }

    .caption-title {
        text-align: right;  
    }
}
