.contact-title {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 40px;
}

.error {
  border: 1px solid red;
}

.terms-link {
  text-decoration: 1px underline;
  color: black;
  transition: color 0.3s ease;
}

.terms-link:hover {
  text-decoration: 1px underline;
  color: black;
  font-weight: bold;
}

.form-control {

  border: solid black;
  border-radius: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
  border-color: black;
  box-shadow: none;
}