/* reset */
input,
textarea {
    width: 100%;
    outline: none;
    font-size: 16px;
    resize: vertical;
}

* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img,
figure {
    max-width: 100%;
    display: block;
    height: auto
}

a {
    text-decoration: none;
    color: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: 'Raleway';
}

/* PALETA */
:root {
    --darkblue: #043B4E;
    --lightblue: #00B1E2;
    --orange: #E95115;
    --black: #1E1E1F;
    --white: #FFFFFF;
    --lightgray : #EEEEEE;
}

.raleway {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}


    /*titulo de las secciones*/
    h2 {
        font-size: 110px;
        font-weight: lighter;
    }

    /*subtítulos*/
    h3 {
        font-size: 42px;
        font-weight: lighter;
    }

    /*párrafos*/
    p {
        font-size: 20px;
    }



@media screen and (max-width: 950px) {

    /*titulo de las secciones*/
    h2 {
        font-size: 80px;
        font-weight: lighter;
    }

    /*subtítulos*/
    h3 {
        font-size: 42px;
        font-weight: lighter;
    }

    /*párrafos*/
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    /*titulo de las secciones*/
    h2{
        font-size: 60px;
        font-weight: lighter;
    }

    /*subtítulos*/
    h3{
        font-size: 42px;
        font-weight: lighter;
    }

    /*párrafos*/
    p{
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    /*titulo de las secciones*/
    h2{
        font-size: 36px;
        font-weight: lighter;
    }

    /*subtítulos*/
    h3{
        font-size: 24px;
        font-weight: lighter;
    }

    /*párrafos*/
    p{
        font-size: 18px;
    }
}