.introCourse-container {
    background-color: lightgray;
    padding: 40px 100px 50px;
    margin: auto;
}

.introCourse-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 280px;
}

.course {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.course_video1,
.course_video2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.course_video2 {
    margin-right: 50px;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    padding: 5px 50px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.video_title {
    font-size: 16px;
    margin-left: 10px;
}

@media (max-width: 680px) {
    .introCourse-container {
        padding: 50px;
    }

    .introCourse-title {
        margin-right: 180px;
    }

    .course {
        align-items: center;
        margin-left: 0;
    }

    .course_video2 {
        margin-right: 43px;
    }

    .video {
        padding: 5px 10px;
        font-size: 14px;
        margin-right: 15px;
    }

    .video_title {
        font-size: 14px;
        margin-left: 0;
        text-align: center;
    }

}