.introCourse-container {
    background-color: lightgray; 
    padding: 80px;
    border-radius: 8px;
    max-width: 1200px;
    margin: 0 auto;
}

.introCourse-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 300px; /* Ajusta según sea necesario */
}

.course {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-left: 300px; /* Ajusta según sea necesario */
}

.course_video {
    display: flex;
    align-items: center;  
    gap: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    padding: 5px 50px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.video_title {
    font-size: 16px;
    margin-left: 50px;
}

