
.team-container {
  background-color: var(--lightgray); 
  padding: 80px;
}

.team-title {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #333;
}

.team-member1{
  margin-right: 30px;
}

.member-photo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.member-photo {
  width: 320px;
  height: 320px;
  object-fit: cover;
  margin-right: 20px;
}

.member-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.member-name {
  margin-top: 10px;
  margin-bottom: 20px;
}

.member-description {
  padding: 0px;
  margin-top: 10px;
}


@media (max-width: 880px) {
  .member-photo-container {
    flex-direction: column;
    margin-bottom: 80px;
  }
  
  .team-container {
    padding: 50px;
  }
}


