
.reviewSection{
    height: 764px;
    margin-bottom: 70px;
    background-color: #1E1E1F;
}

.titleReview{
    font-size: 110px;
    color: white;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 50px;
    margin-left: 100px;
}

.cardsReview{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    align-content: center;
    padding: 0 50px;
}

.card1Review, .card2Review, .card3Review, .card4Review, .card5Review, .card6Review {
    max-width: 380px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardsName{
    font-size: 42px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.cardsP {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-align: left;
    margin-bottom: 30px;
}

.review1, .review2, .review3, .review4, .review5, .review6 {
    width: 380px;
    height: 380px;
    margin: auto;
    margin-bottom: 30px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    color: white;
}

.carousel-control-prev-icon {
    margin-right: 80px;
}

.carousel-control-next-icon {
    margin-left: 80px;
}


.whiteSection{
    height: 350px;
    color: pink;
}


@media screen and (max-width: 950px) {
    .cardsReview{
        padding:0 15px;
    }

    .review1, .review2, .review3, .review4, .review5, .review6 {
        width: 150px;
        height: 150px;
    }

    .carousel-control-prev-icon {
        margin-right: 100px;
    }
    
    .carousel-control-next-icon {
        margin-left: 100px;
    }
}

@media screen and (max-width: 800px){
    .carousel-control-prev-icon {
        margin-right: 90px;
    }
    
    .carousel-control-next-icon {
        margin-left: 90px;
    }
}


@media screen and (max-width: 700px) {
    .cardsReview{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        text-align: center;
        padding: 0 50px;
    }

    .carousel-control-prev-icon {
        margin-right: 80px;
    }
    
    .carousel-control-next-icon {
        margin-left: 80px;
    }
}



@media screen and (max-width: 650px){
    .carousel-control-prev-icon {
        margin-right: 60px;
    }
    
    .carousel-control-next-icon {
        margin-left: 60px;
    }
}

@media screen and (max-width: 530px){
    .carousel-control-prev-icon {
        margin-right: 30px;
    }
    
    .carousel-control-next-icon {
        margin-left: 30px;
    }
}
