
.reviewSection{
    height: 764px;
    background-color: var(--black);
    margin-bottom: 350px;
}

.titleReview{
    color: white;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 50px;
    padding-top: 80px;
    padding-left: 80px;
}

.cardsReview{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: left;
    align-content: center;
    padding: 0 30px;
}

.card1Review, .card2Review, .card3Review, .card4Review, .card5Review, .card6Review {
    max-width: 380px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 10px;
}

.cardName{
    color: white;
    text-transform: uppercase;
}

.cardSurname{
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: left;
}

.cardP {
    text-transform: uppercase;
    color: white;
    text-align: left;
    margin-bottom: 40px;
}

.review1, .review2, .review3, .review4, .review5, .review6 {
    width: 380px;
    height: 380px;
    margin: auto;
    margin-bottom: 30px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    visibility: hidden;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--black) !important;
    height: 7px;
    position: relative;
    top:50px;
}


@media screen and (max-width: 1260px){
    .review1, .review2, .review3, .review4, .review5, .review6 {
        width: 280px;
        height: 280px;
    }
}


@media screen and (max-width: 950px) {
    .titleReview{
        padding-left: 70px;
    }
    .reviewSection{
        margin-bottom: 250px;
    }

    .cardsReview{
        padding:0 50px;
    }  

    .cardP{
        padding:0 30px;
    }

    .cardName, .cardSurname{
        font-size: 32px;
        padding:0 30px;
    }

    .review1, .review2, .review3, .review4, .review5, .review6 {
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width: 924px){
    .review1, .review2, .review3, .review4, .review5, .review6 {
        width: 180px;
        height: 180px;
    }
    .cardP{
        font-size: 18px;
        padding:0 41px;
    }

    .cardName, .cardSurname{
        font-size: 24px;
        padding:0 37px;
    }

    .reviewSection{
        margin-bottom: 250px;
    }
}




@media screen and (max-width: 700px) {
    .reviewSection{
        margin-bottom: 250px;
        height: 1850px;
    }
    
    .cardsReview{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        text-align: center;
        padding: 0 15px;
    }

    .review1, .review2, .review3, .review4, .review5, .review6 {
        width: 280px;
        height: 280px;
        margin-bottom: 80px;
    
    }

    .cardName{   
        margin-right: 215px;
    }

    .cardSurname, .cardP{
        margin-bottom: 20px;
    }

    .carousel-indicators [data-bs-target]{
        margin-bottom: 70px;
    }
}



