/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.levelContainer {
  background-color: #f8f9fa;
}

.levels-course {
  width: 1140px;
  margin: auto;
  background-color: #f8f9fa;
}

.titleCourse {
  padding-top: 50px;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
}

/* Estilos para el Accordion */
.accordion {
  margin-top: 20px;
}

.accordion:active {
  background-color: var(--lightblue);
}

.accordion-item {
  background-color: var(--darkblue);
}

.accordion-header {
  cursor: pointer;
  background-color: var(--darkblue);}

.accordion-body {
  padding: 15px;
  background-color: #f8f9fa;
}

.accordion-button collapsed {
  background-color: blue;
}

/* Estilos para los componentes de video */
.video-list,
.video-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.video-list {
  min-height: 400px;
}

.video-card {
  min-height: 500px;
}

.video-card img {
  width: 100%;
  height: auto;
}

.video-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.video-card p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}

/* Estilos para botones y acciones */
.btn-custom {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #0056b3;
}