.custom-video-icon-ok {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.custom-video-icon-ok img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--lightblue);
}

.custom-video-text-ok {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.custom-button-sw-ok {
    background-color: #043B4E;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button-sw-ok:hover {
    background-color: #03698A;
}

.custom-video-icon-error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.custom-video-icon-error img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #E95111;
}

.custom-video-text-error {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.custom-button-sw-error {
    background-color: #E95111;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button-sw-error:hover {
    background-color: #B93E07;
}