
.hero {
    background-image: url('../../assets/img/hero.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    color: white;
    margin-top: -140px;
    padding-top: 140px;
}

.titleHero {
    font-size: 80px;
    text-transform: uppercase;
    margin-left: 100px;
    margin-right: 100px;
    color: var(--orange);
    margin-bottom: 20px;
}

.titleHero1 {
    font-size: 64px;
    text-transform: uppercase;
    margin-left: 50px;
}

.buttonHero {
    margin-left: 100px;
    margin-bottom: 70px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonHero:hover {
    transform: scale(1.2);
    background-color: var(--white);
    color: var(--black);
}

@media screen and (max-width: 1200px) {
    .hero {
        
    }
    
    .titleHero {
        font-size: 70px;
        margin-left: 80px;
        margin-right: 80px;
    }

    .titleHero1 {
        font-size: 54px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 840px) {
    .hero {
        background-size: cover;
        background-position: center;
    }
    
    .titleHero {
        font-size: 65px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .titleHero1 {
        font-size: 44px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 678px) {
    .hero {
        background-size: cover;
        background-position: center;
    }

    .titleHero {
        font-size: 50px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .titleHero1 {
        font-size: 36px;
        margin-left: 20px;
    }

    .buttonHero {
        margin-left: 40px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
    .hero {
        background-size: cover;
        background-position: center;
    }

    .titleHero {
        font-size: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .titleHero1 {
        font-size: 30px;
        margin-left: 10px;
    }

    .buttonHero {
        margin-left: 20px;
        margin-bottom: 40px;
        font-size: 14px;
        padding: 8px 16px;
    }
}
