.tableSection {
    margin-top: -140px;
    padding-top: 140px;
}

.titleClient {
    text-align: left;
    text-transform: uppercase;
    padding: 80px;
}

.sectionForm {
    margin-bottom: 100px;
}

#myTable {
    width: 100%;
    margin: 0 80px;
}

.thTable {
    background-color: var(--white);
    padding: 15px;
    color: var(--black);
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: var(--white);
}

tr:nth-child(odd) {
    background-color: var(--lightgray);
}

.tdTable {
    padding: 15px;
}

.tdTable:hover {
    background-color: var(--lightblue);
    font-weight: 400;
}


@media screen and (max-width: 730px) {

    .titleClient {
        padding-left: 40px;
        padding-bottom: 40px;
    }

    #myTable {
        margin: 40px;
        margin-top: 0;
    }
}