.navbar-custom {
    background-color: #ffff; /* Cambia el color de fondo del Navbar */
  }
  
.navbar-brand-custom {
    color: hsl(347, 83%, 54%); /* Cambia el color del texto del Navbar.Brand */
    font-size: 50px;
  }
  
.nav-link-custom {
    color: #0D99FF; /* Cambia el color del texto de los enlaces del Navbar */
    font-size: 50px;
  }
  